/* Styling for the container that holds the player cards. */
.players {
  display: flex; /* The player cards are displayed using flexbox. */
  flex-wrap: wrap; /* The player cards will wrap onto the next line if there is not enough space. */
  justify-content: center; /* The player cards are centered on the line. */
}

/* Styling for individual player cards. */
.player-card {
  width: 360px; /* The width of the card. */
  height: 380px; /* The height of the card. */
  margin: 10px; /* The margin around the card. */
  background-color: gray; /* The background color of the card. */
  border-style: solid; /* The border around the card. */
  border-radius: 5px; /* The radius of the card's corners. */
  box-shadow: 5px; /* The shadow effect around the card. */
  overflow: hidden; /* Any content that goes outside the card will be hidden. */
  position: relative; /* The card's position is set to relative so it can be moved using the transform property. */
  transition: transform 0.3s; /* Transition effect for the transform property. */
}

/* Styling for when a user hovers over a player card. */
.player-card:hover {
  transform: translateY(
    -5px
  ); /* The card moves up 5 pixels when hovered over. */
}

/* Styling for the container that holds the player's image. */
.player-image-container {
  display: flex;
  align-items: center;
  justify-content: center; /* The image is centered. */
  /* The image is centered along the horizontal axis. */
  /* The image is centered along the vertical axis. */
  height: 300px; /* The height of the image container. */
  padding: 10px; /* The padding around the image. */
}

/* Styling for the player's image. */
.player-image {
  width: 250px; /* The width of the image. */
  height: 250px; /* The height of the image. */
  /* The image will cover the entire area of its container without distorting its aspect ratio. */
  /* The image is displayed using CSS Grid. */
  /* The margin to the left of the image. */
}

/* Styling for the player's details (name, breed, status). */
.player-details {
  flex-direction: column; /* The details are arranged in a column. */
  align-items: center; /* The details are centered along the vertical axis. */
  justify-content: center; /* The details are centered along the horizontal axis. */
  color: #000; /* The color of the details text. */
  font-size: 16px; /* The size of the details text. */
  text-align: center; /* The details text is centered. */
}
